body 
{
    margin:0;
    background: #5ae872;
}
#name{
    z-index:2;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:2px solid grey;
    background-color:#7d449b;
    position: fixed;
    border-radius:20 px;
    top: 10%;
    width: 100%;
}

li {
    float: right;
}

li a {
    
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 35px;
}

li a:hover:not(.active) {
    background-color: #111;
}
