body 
{
    margin:0;
    background: #5ae872;
}
img{
 position: fixed;
 top: 1%;
 float:left;
 z-index: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:2px solid grey;
    background-color:#7d449b;
    position: fixed;
    top: 5%;
    width: 100%;
}

li {
    float: right;
}

li a {
    height:15%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
